<form method="post" action="{{ path('app_reserva_delete', {'id': reserva.id}) }}" onsubmit="return confirm('Esta seguro de eliminar la reserva?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserva.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
