{% extends 'theme.html.twig' %}

{% block title %}Editar Reserva{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">Editar Reserva</h1>
        <div class="text-center">
            <a class="btn btn-secondary mb-3" href="{{ path('app_nota_index') }} ">Regresar</a>
            {{ include('reserva/_delete_form.html.twig') }}
        </div>

        {{ include('reserva/_form.html.twig') }}
    </div>
{% endblock %}
