<form method="post" action="{{ path('app_venta_delete', {'id': ventum.id}) }}" onsubmit="return confirm('Esta seguro de eliminar la compraventa de productos?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ventum.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
