{% extends 'theme.html.twig' %}

{% block title %}Editar Piloto{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center mb-5">Editar Piloto</h1>

        {{ include('piloto/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <a class="btn btn-secondary mb-3" href="{{ path('aeroclub_piloto_index') }}">Regresar</a>
        {{ include('piloto/_delete_form.html.twig') }}
    </div>

{% endblock %}
