<form method="post" action="{{ path('app_vuelo_motor_delete', {'id': vuelo_motor.id}) }}" onsubmit="return confirm('Esta seguro de eliminar el vuelo a motor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vuelo_motor.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
