{% extends 'theme.html.twig' %}

{% block title %}Editar Vuelo Motor{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">Editar Vuelo Motor</h1>
        <div class="text-center">
            <a class="btn btn-secondary mb-3" href="{{ path('app_vuelo_motor_index') }} ">Regresar</a>
            {% if is_granted('ROLE_ADMINISTRADOR') %}
                {{ include('vuelo_motor/_delete_form.html.twig') }}
            {% endif %}
        </div>

        {{ include('vuelo_motor/_form.html.twig') }}
    </div>
{% endblock %}
