{% extends 'theme.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">Editar Producto</h1>
        <div class="text-center">
            <a class="btn btn-secondary mb-3" href="{{ path('app_producto_index') }} ">Regresar</a>
        </div>

        {{ include('producto/_form.html.twig') }}
    </div>
{% endblock %}
