{% extends 'theme.html.twig' %}

{% block title %}Crear Socio{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-5">Crear Socio</h1>

        {{ include('socio/_form.html.twig') }}
    </div>
{% endblock %}