<form method="post" action="{{ path('app_hangar_delete', {'id': hangar.id}) }}" onsubmit="return confirm('Esta seguro de eliminar el hangar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hangar.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
