<form method="post" action="{{ path('app_movimiento_stock_delete', {'id': movimiento_stock.id}) }}" onsubmit="return confirm('Desea eliminar el movimiento stock??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movimiento_stock.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
