<form method="post" action="{{ path('aeroclub_alumno_delete', {'id': usuario.alumno.id}) }}" onsubmit="return confirm('Esta seguro de eliminar al alumno?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.alumno.id) }}">
    <button class="btn btn btn-danger">Eliminar</button>
</form>