{% extends 'theme.html.twig' %}

{% block title %}Editar Alumno{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center mb-5">Editar Alumno</h1>

        {{ include('alumno/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <a class="btn btn-secondary mb-3" href="{{ path('aeroclub_alumno_index') }}">Regresar</a>
        {{ include('alumno/_delete_form.html.twig') }}
    </div>

{% endblock %}
