{% extends 'base.html.twig' %}

{% block title %}Edit ProductoVuelo{% endblock %}

{% block body %}
    <h1>Edit ProductoVuelo</h1>

    {{ include('producto_vuelo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_producto_vuelo_index') }}">back to list</a>

    {{ include('producto_vuelo/_delete_form.html.twig') }}
{% endblock %}
