<style>
    #sidebar-container {
        min-height: 100vh;
        background-color: #111B54;
    }

    #sidebar-container .logo {
        padding: .875rem 1.25rem;
    }

    .menu a {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 200;
    }

    .menu a:hover {
        background-color: #93c5fd;
    }

    .logo img {
        width: 50%;
    }
</style>

<div id="sidebar-container">
    <div class="logo text-center">
        <img src="{{ asset('Logoaeroclub.png') }}" alt="Logo Aeroclub">
        <h3 class="text-light">Administrador</h3>
    </div>
    <div class="menu">
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_home') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            </svg>
            Notificaciones
        </a>
        <a class="d-block p-3 text-light" href="{{ path('app_usuario_index') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            </svg>
            Gestión de Usuarios
        </a>
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_logout') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            Cerrar Sesión
        </a>
    </div>
</div>
