 <style>
        #sidebar-container {
            min-height: 100vh;
            background-color: #111B54;
        }

        #sidebar-container .logo {
            padding: .875rem 1.25rem;
        }

        .menu a {
            text-decoration: none;
        }

        .menu a:hover {
            background-color: #93c5fd;
        }

        .logo img {
            width: 50%;
        }
 </style>

 <div id="sidebar-container">
     <div class="logo text-center">
            <img src="{{ asset('Logoaeroclub.png') }}" alt="Logo Aeroclub">
     </div>
     <div class="menu">
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_usuario') }}">Usuarios</a>
        <a class="d-block p-3 text-light" href="">Servicios</a>
        <a class="d-block p-3 text-light" href="">Cursos</a>
        <a class="d-block p-3 text-light" href="">Aviones</a>
        <a class="d-block p-3 text-light" href="">Vuelos Turísticos</a>
        <a class="d-block p-3 text-light" href="">Productos</a>
        <a class="d-block p-3 text-light" href="">Ventas</a>
        <a class="d-block p-3 text-light" href="">Gastos</a>
        <a class="d-block p-3 text-light" href="">Notas</a>
        <a class="d-block p-3 text-light" href="">Pagos</a>
     </div>
 </div>
