<form method="post" action="{{ path('aeroclub_instructor_delete', {'id': instructor.id}) }}" onsubmit="return confirm('Esta seguro de desactivar al instructor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instructor.id) }}">
    <button class="btn btn-danger">Desactivar</button>
</form>
