{% extends 'theme.html.twig' %}

{% block title %}Crear Instructor{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-5">Crear Instructor</h1>

        {{ include('instructor/_form.html.twig') }}
    </div>
{% endblock %}
