{% extends 'base.html.twig' %}

{% block title %}Edit ProductoVenta{% endblock %}

{% block body %}
    <h1>Edit ProductoVenta</h1>

    {{ include('producto_venta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_producto_venta_index') }}">back to list</a>

    {{ include('producto_venta/_delete_form.html.twig') }}
{% endblock %}
