<form method="post" action="{{ path('app_vuelo_planeador_delete', {'id': vuelo_planeador.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vuelo_planeador.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
