{% extends 'base.html.twig' %}

{% block body %}

    {% if "App\\Entity\\Tesorero" in tipo_usuario(app.user) %}
        {{ include('sidebar_menu/tesorero.html.twig') }}
    {% endif %}

    <div class="w-100 p-5">
        {% block content %}{% endblock %}
    </div>
{% endblock %}