{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_TESORERO') %}
        {{ include('sidebar_menu/tesorero.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_ALUMNO') %}
        {{ include('sidebar_menu/alumno.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_ADMINISTRADOR') %}
        {{ include('sidebar_menu/administrador.html.twig') }}
    {% endif %}


    <div class="w-100 p-5">
        {% block content %}{% endblock %}
    </div>
{% endblock %}