{% extends 'theme.html.twig' %}

{% block title %}Editar Curso{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">Editar Curso</h1>
        <div class="text-center">
            <a class="btn btn-secondary mb-3" href="{{ path('app_curso_index') }} ">Regresar</a>
            {{ include('curso/_delete_form.html.twig') }}
        </div>

        {{ include('curso/_form.html.twig') }}
    </div>
{% endblock %}
