<form method="post" action="{{ path('app_lista_precio_delete', {'id': lista_precio.id}) }}" onsubmit="return confirm('Esta seguro de eliminar la lista de precio?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lista_precio.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
