{% extends 'theme.html.twig' %}

{% block title %}Editar Lista Precio{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-2">Editar Lista Precio</h1>
        <div class="text-center">
            <a class="btn btn-secondary mb-3" href="{{ path('app_lista_precio_index') }} ">Regresar</a>
        </div>

        {{ include('lista_precio/_form.html.twig') }}
    </div>
{% endblock %}
