<form method="post" action="{{ path('aeroclub_tesorero_delete', {'id': tesorero.id}) }}" onsubmit="return confirm('Esta seguro de eliminar al tesorero?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tesorero.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
