{% extends 'theme.html.twig' %}

{% block title %}Crear Tesorero{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-5">Crear Tesorero</h1>

        {{ include('tesorero/_form.html.twig') }}
    </div>
{% endblock %}
